<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Persistence Type: "Memory" or "MySQL" -->
    <add key="PersistenceType" value="Memory" />
    <add key="CsvFilePath" value="f:\ProyectoFinalEV1BigData\all_mtg_cards.csv" />
    <add key="JwtSecret" value="THIS_IS_A_VERY_LONG_SECRET_KEY_FOR_JWT_AUTHENTICATION_TESTING_PURPOSES_ONLY" />
    <add key="JwtIssuer" value="ProyectoFinalEV1" />
    <add key="JwtAudience" value="ProyectoFinalEV1Users" />
    <add key="OpenAIKey" value="YOUR_OPENAI_API_KEY_HERE" />
    <add key="GeminiKey" value="YOUR_GEMINI_API_KEY_HERE" />
  </appSettings>
  <connectionStrings>
    <add name="MySQLConnection" connectionString="Server=localhost;Database=mtg_cards_db;Uid=root;Pwd=password;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
